@import url("https://fonts.googleapis.com/css2?family=Neuton:ital@1&family=Poppins&display=swap");
body{
  background-color: #e2e2e2;
}
.container ,.Form {
  display: flex;
  /* align-items: center; */
}
:root{
  --font-p: 16px/25px Poppins;
  --BRadius: 50px;
  --width: 100%;
  --height: 50px;
  --flexBoxWidth: 50%;
  --blueColor: #0c1a2d;
  --greenColor: #707070;
}

/* FlexBox Divs */
.leftImage, .Form  {
  width: var(--flexBoxWidth);
}

/* Form (inputet)  */
.Form{
 order: 0;
 text-align: center;
 flex-direction: column;
 justify-content: center;
}form{
  width: 65%;
  margin:  0 auto;
}.inputs{
  text-align: start;
  margin: 0 0 7% 0;
}

/* stilimi i logos ↓ */
.Form img{ 
  width: 27%;
  margin: 0 auto;
}.Form h1 {
  font: italic 90px Neuton;
}.Form input {
  padding: 0 25px;
  border: 1.5px solid  var(--greenColor);
  background-color: #e2e2e2;
}.Submit {
  background: var(--blueColor);
  color: white;
  margin: 0 0 1% 0;
}.Form p {
  color: var(--greenColor);
}

/* Imazhi */
.leftImage{
  order: 1;
  width: 50%;
}.leftImage img{
   width: 70%; 
   margin: 0 auto; 
}
/* Common Styles */
.Form input ,.Submit, .googleOrFacebook{
  border-radius: var(--BRadius);
  width: var(--width);
  height: var(--height);
}.Form label, .Form p , .Register, .Form button, .Form a {
  font: var(--font-p);
}.Form label, .Form h1{
  color: var(--blueColor);
}button:hover, a:hover{
  opacity: 80%;
}

/* Sign Up Page */
.googleOrFacebook{
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
  color: var(--blueColor);
  border: 1.5px solid  var(--blueColor);
}.GFbuttons{
  margin: 3% 0 3% 0;
}.Ahref{
  text-decoration: underline;
}

/* Media Queries */
@media only screen and (max-width: 1100px) and (min-width: 480px ) {
  .container{
    display: block;
  }.leftImage, .Form{
    width: var(--width);
    margin: 0 0 2% 0;
  }
  /* Image  */
  .leftImage img{
    width: 40%;
  }form{
    width: 100%;
  }.Form{
    padding: 0 10%;
  }
} 
@media only screen and (max-width: 480px ) {
  .container {
    display: block;
  }
  .leftImage, .Form{
    width: var(--width);
    margin: 0 0 5% 0;
  }
  /* Image  */
  .leftImage img{
    width: 60%;
  }
  /* Form */
  .Form{
    padding: 0 5%;
  }form{
    width: 100%;
  }.Form img{
    width: 30%;
  }.Form h1{
    font-size: 20vw;
  }.Form label,  .Form input, .Form p, .Form a{
    font-size: 15px;
  }.Form input, .Submit{
    height: 44px;
  }
}

