@import url("https://fonts.googleapis.com/css2?family=Neuton:wght@300&family=Poppins:wght@200&family=Roboto:wght@100&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-dimi {
  background-color: #e2e2e2;
  height: 100vh;
}

.font-pop {
  font-family: "Poppins", sans-serif;
}
.font-neuton {
  font-family: "Neuton", serif;
  font-size: 77px;
  letter-spacing: 0px;
}

.muted {
  font: italic medium 20px Poppins !important;
  color: #6c7a8db2;
}

.para {
  font: normal normal 300 17px Poppins;
  color: #818181;
}

.bg-1 {
  background-color: #0c1a2d;
}

:root {
  /* Colors: */
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-071d3e: #071d3e;
  --unnamed-color-e2e2e2: #e2e2e2;
  --unnamed-color-0c1a2d: #0c1a2d;
  --unnamed-color-000000: #000000;

  /* Font/text values */
  --unnamed-font-family-segoe-ui: Segoe UI;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-16: 16px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-21: 21px;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-segoe-ui);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-21);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}

.green-text {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 30px/38px Neuton;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 30px/38px Neuton;
  letter-spacing: 0px;
  color: #5a5e21;
}
@media (max-width: 452px) {
  .the-mg {
    display: none;
  }
}

@media (max-width: 1141px) {
  .d-none {
    display: none;
  }
  .repo {
    font-size: 38pt;
    padding: 3px;
    margin-left: 0.5rem;
  }
  .arrow {
    display: none;
  }
  .the-p {
    display: none;
    margin-top: 0.7rem;
  }
  .repo-img {
    display: none;
  }
  .jim {
    display: none;
  }
  .p-text {
    padding: 1rem;
  }
  .nd {
    display: none !important;
  }
  .buto {
    display: grid;
    place-items: center;
  }
}

.lg-text {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) / 25px Poppins;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0c1a2d);
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #0c1a2d;
  opacity: 1;
  font-weight: 600;
}

.botder-v {
  border-color: #707070;
}

.bg-v {
  background-color: #0c1a2d;
  color: #e2e2e2;
  font-size: 16px;
}

.acc-font {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) / 25px Poppins;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #091b36;
  opacity: 1;
}

.acc-link {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) / 25px Poppins;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0c1a2d);
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #0c1a2d;
  opacity: 1;
}

a:active {
  border-bottom: 2px solid green;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.pt {
  font-size: 14pt;
}

.net {
  font-family: "Neuton", serif;
}
